.nav{
    margin: 0 auto; 
    padding: 0;
}
.link{ 
    width: 130px;
    height: 30px;
    background-color: pink; 
    margin-left: 30px; 
    text-align: center; 
    line-height: 30px; 
    color: black; 
    font-weight: bold;
}